.registerformcontainer {
    display: flex;
    box-shadow: 1px 4px 40px 2px rgba(129, 129, 165, 0.07);
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap : wrap;
    width: 20rem;
  }

.registerform{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 14rem;
}

.inputfieldcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10% 10%;
}

.formtext{
    font-size: 80%;
}

.inputfield{
    border: 1px solid #B3B3C9;
    border-radius: 4px;
    padding: 5% 10%;
    width: 13rem;
}

.formbutton{
    background: #001B36;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 5% 45%;
}

.formbutton:hover {
    background-color: #27127d;
  }

.footerText{
    display: inline-block;
    text-align: center;
}

.titleText{
    display: inline-block;
    word-break: break-word;
}