.landingpage
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:80vh;
    width:100%;
}

.landingpagebuttoncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
    width: 20%;
}