.landingpage
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width:100%;
}

.landingpagebuttoncontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    width: 15%;
}