
.navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .navbartitle {
    flex: 1;
  }
  
  .navbarbutton {
    background-color: #FEBD2C;
    padding: 10px 20px;
    border: none;
  }